@import "tailwindcss";

@theme inline {
  --color-offblack: #000000;
  --color-textPrimary: #ffffff;
  --color-textSecondary: #9C9C9C;
  --color-stroke: #3A3A3A;
  --color-tile: #151515;
  --font-sans: var(--font-space-grotesk);
}

body {
  background-color: var(--color-offblack);
  color: var(--color-textPrimary);
  font-family: var(--font-space-grotesk), sans-serif;
}
